@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position: relative;
    max-width: 600px;
}
.textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.textBox p{
    color: #333;
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    z-index: 3;
}
.imgBox img{
    max-width: 200px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.6s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 50px;
}
.thumb li :nth-child(3){
    transform: rotate(90deg);
}


.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(550px at right 800px);
}
.about {
    display: flex;
    flex-wrap: wrap;
    background: #ebdbc8;
    gap: 1.5rem;
    height: 150%;
  }
  .about-img img{
    display: inline-block;
    margin-right: 10px;

  }
  h2{
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.3em;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: light green;
  }
  .social a {
    font-size: 27px;
    margin: 0.5rem;
  }
  .contact .social a img .fb{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .contact .social a img .tw{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .contact .social a .img .insta{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 80%;
    width: 10px;
    height: 10px;
  }
  .contact .social a img .ut{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .social a .bx:hover {
    background: var(--main-color);
  }
  .links {
    margin: 1rem 0 1rem;
  }
  .links a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
  }
  .links a:hover {
    color: var(--main-color);
  }
  .contact p {
    text-align: center;
  }
  .contact .con{
    text-align: center;
    font-size: 1.2rem;
    text-decoration: underline;
  }

@media (max-width: 991px)
{
    header{
        padding: 20px;
    }
    header .logo{
        max-width: 60px;
    }
    header ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(close.png);
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header ul.navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        z-index: 10;
    }
    header ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }
    section{
        padding: 20px 20px 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content{
        flex-direction: column;
        margin-top: 80px;
        width: 100%;
    }
    .content .textBox{
        font-size: 10px;
        width: 100%;
    }
    .content .textBox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .imgBox img{
        max-width: 300px;
        
    }
    .thumb li img{
        max-width: 40px;
    }
    .circle{
        clip-path: circle(300px at center bottom);
    }
    section .sci li .fb{
       position: absolute;
       top: 340px;
       left: 445px;
       width: 30px;
       height: 30px;
    }
    section .sci li{
        list-style: none;
    }
    section .sci li .tw{
        position: absolute;
        top: 385px;
        left: 450px;
        width: 25px;
        height: 25px;
     }
     section .sci li .insta{
        position: absolute;
        top: 425px;
        left: 450px;
        width: 25px;
        height: 25px;
     }
}

  

